<ion-header>
  <div class="headerstyle">
    <span style="font-size: 20px;font-weight: lighter;color: #fff;">RFQ Details</span>
    <span name="cart" class="cart_icon" (click)="viewcart()" style="color:#fff">
      <img src="./assets/imgs/web_icons/dashboardIcons/createRfqDefalutIcon.png" style="width: 32%;float: right; margin-top: 13px;"/>
      <ion-badge color="badge_header">{{totalCartItems}}</ion-badge>
    </span>
  </div>
</ion-header>

<ion-content>

  <!-- <div class="headerstyle">
    <span style="font-size: 20px;font-weight: lighter;color: #fff;">RFQ Details</span>
    <span name="cart" class="cart_icon" (click)="viewcart()" style="color:#fff">
      <img src="./assets/imgs/web_icons/dashboardIcons/createRfqDefalutIcon.png" style="width: 32%;float: right; margin-top: 13px;"/>
    </span>
  </div> -->

  <div>
    <!-- <ion-list *ngFor="let prodData of selectData; let i=index"> -->
      <!-- <ion-item class="border_bott"> -->

        <ion-grid>
          <ion-row  *ngFor="let prodData of selectData; let i=index" style="box-shadow: 3px 3px 3px #ddd;">
            <ion-col col-5 padding>
              <!-- <ion-thumbnail item-start> -->
                <img src='{{prodData.image}}' style="width: 100%;height: 100%;">
              <!-- </ion-thumbnail> -->
            </ion-col>
          <!-- </ion-row>

          <ion-row> -->
            <ion-col col-7 padding>
              <div style="border-left: 2px solid #00978c;padding-left: 10px;">
              <h5 style="color: #00978c;font-size: 16px;">{{prodData.upload_name}}</h5>
              <p>MRP :
                <span class="ofr_price">₹ {{prodData.mrp}}</span>
              </p>
              <p>Disc(%) :
                <span class="ofr_price">{{prodData.discount}}</span>
              </p>
              <div>
                <p *ngIf="itemDisplayValu==true">Special Disc(%) :
                  <span class="ofr_price">{{prodData.special_discount}}</span>
                </p>
                <p *ngIf="itemDisplayValu==true">Volume Disc(%) :
                  <span class="ofr_price">{{prodData.volume_discount}}</span>
                </p>
              </div>
              <p class="">Total :
                <span class="ofr_price">₹ {{prodData.total}}</span>
              </p>
              <p *ngIf="itemDisplayValu==true">Savaing Percentage(%) :
                <span class="ofr_price">{{prodData.saving_percentage}}</span>
              </p>
              <p class="picecorton">
                Piece per carton
                <span style="background: #00867b;">{{prodData.pieceperCarton}}</span>
              </p>
              <div>
                <ion-icon class="icon_clr_light" name="remove-circle" (click)="decrement(prodData,i)"></ion-icon>
                <span>
                  <input type="text" style="width: 12%;border: none;text-align: center;" [(ngModel)]="prodData.qty" />
                </span>
                <ion-icon class="icon_clr_light" name="add-circle" (click)="increment(prodData,i)"></ion-icon>
                <span class="flt_right">
                  <span class="padd_r_20" (click)="addToCart(prodData)">
                    <ion-icon class="icon_clr_light" ios="ios-cart" md="md-cart"></ion-icon>
                  </span>
                  <span (click)="moredetails(i,prodData)">
                    <ion-icon class="icon_clr_light" ios="ios-more" md="md-more"></ion-icon>
                  </span>
                </span>
              </div>
              <button ion-button type="button" class="footer_btn" (click)="addToCart(prodData)" style="background: #00867b;">Add to Cart!</button>
              <div *ngIf="i==item_index">
                {{item.upload_name}}
              </div>
            </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      <!-- </ion-item> -->
    <!-- </ion-list> -->
  </div>

</ion-content>