<ion-content style="text-align: center; margin-bottom: 0px;" cache-view="false">
  <div style="margin-top: 50%;">
    <div class="login-box">
      <form #registerForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset style="margin-bottom: 0px!important;">
              <label class="theme_clr" style="float:left; font-size: smaller;">Username</label>
              <ion-item style="background: transparent; margin-bottom: 10px;">
                <ion-input type="text" name="email" [(ngModel)]="credentials.email" required></ion-input>
              </ion-item>
              <label class="theme_clr" style="float:left; font-size: smaller; margin-top: 20px;">Password</label>
              <ion-item style="background: transparent;">
                <ion-input type="password" name="password" [(ngModel)]="credentials.password" required></ion-input>
              </ion-item>
              <button ion-button clear class="theme_clr" style="float:right; background: transparent; padding: 0px; text-transform: capitalize; font-size: smaller; font-weight: normal;"
                (click)="forgotPwd()">Forgot Password?</button>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="signup-col">
            <button ion-button round class="btn_submit" [disabled]="!registerForm.valid" (click)="login()">Login</button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>