page-login {
  .btn_submit{
    background-image: url('../../assets/imgs/web_icons/loginIcons/01.png');
    height: 50px;
    width: 180px;
    font-weight: normal;
    background-size: 100%;
  }
  ion-footer{
    &.footer-md::before {
      background-image: url('../../assets/imgs/web_icons/loginIcons/bottom_img.png');
      margin-bottom: 0px;
    }
  }
  ion-content{
    .scroll-content{
      overflow: hidden;
    }
    background-image: url('../../assets/imgs/web_icons/loginIcons/login_bck.png');
    background-repeat: no-repeat;
    background-size: 100%;
    
    .login-box {
      margin-top: 45%;
    }

    margin-top:0px!important;
   
  }
    .login-content {
        background: #56CA96;
     
        .logo-row {
          padding-top: 50px;
          padding-bottom: 20px;
        }
     
        
     
        ion-row {
           align-items: center;
           text-align: center;
         }
     
         ion-item {
             border-radius: 30px !important;
             padding-left: 30px !important;
             font-size: 0.9em;
             margin-bottom: 10px;
             border: 1px solid #ffffff;
             border-bottom: 0px !important;
             box-shadow: none !important;
         }
     
         .signup-col {
           margin: 0px 16px 0px 16px;
           padding-bottom: 20px;
         }
     
         .item-inner {
           border-bottom-color: #ffffff !important;
           box-shadow: none !important;
         }
     
         .submit-btn {
           background: #51CFB1;
           border-radius: 30px !important;
           border: 1px solid #ffffff;
         }
     
         .register-btn {
           color: #ffffff;
           font-size: 0.8em;
         }
        
      }

      .frgt_pwd{
        text-align: center;
      }
     
}
