<ion-header>
  <div class="headerstyle">
    <span style="font-size: 20px;font-weight: lighter;color: #fff;">Pending PO</span>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="border_bott" *ngFor="let item of podetails" style="border-bottom: 5px solid #ddd;">
      <div padding>
        <p>
          <span class="thead_data">RFQ No :</span>
          <span class="tbody_data">{{item.rfq_num}}</span>
          <span class="">
            <ion-icon name="ios-arrow-forward" class="frwrd_icon" (click)="pendingPoDetails(item)"></ion-icon>
          </span>
        </p>
        <p>
          <span class="thead_data">PO No :</span>
          <span class="tbody_data">{{item.po_num}}</span>
        </p>
        <p>
          <span class="thead_data">Sales Manager :</span>
          <span class="tbody_data">{{item.sales_manager}}</span>
        </p>
        <p>
          <span class="thead_data">Mobile No :</span>
          <span class="tbody_data">{{item.sales_manager_mobile}}</span>
        </p>
        <p>
          <span class="thead_data">PO Generated Date :</span>
          <span class="tbody_data">{{item.po_gen_date}}</span>
        </p>
        <p>
          <span class="thead_data">Status :</span>
          <span class="tbody_data">{{item.status}}</span>
        </p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>