page-pending-po {
    ion-header{
        padding-bottom: 18%;
        .headerstyle{
            background-image: url('../../assets/imgs/web_icons/dashboardIcons/Header.png');
            padding-top:5%;
            padding-bottom: 5%;
            color:"white";
            margin-top: 15%;
            box-shadow: 3px 3px 3px #007b6c;
        }
        .headerstyle{
            padding: 15px;
        }
    }
    ion-content{
        background-image: url('../../assets/imgs/web_icons/dashboardIcons/Bg_patterns Dash_b.png');
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top:0px!important;
        padding-top: 10%;
        
    }
}
