<ion-header>
    <div class="headerstyle">
        <span style="font-size: 20px;font-weight: lighter;color: #fff;">Forgot Password</span>
      </div>
</ion-header>

<ion-content>
  <div class="login-box" style="margin-top: 20%;">
    <form #forgotPwd="ngForm">
      <ion-row *ngIf="!isValidUname">
        <ion-col>
          <ion-list inset style="margin-bottom: 0px!important">
            <label class="theme_clr" style="float:left; font-size: smaller;">Username</label>
            <ion-item style="background: transparent; margin-bottom: 10px; border-bottom:1px solid #dedede;">
              <ion-input type="text" name="UserName" [(ngModel)]="username"  required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col" *ngIf="!isValidUname">
          <button ion-button round class="btn_submit" type="button" [disabled]="!username" (click)="verifyUsername()">submit</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isValidUname">
        <ion-col>
          <ion-list inset>
            <ion-item style="background: transparent; margin-bottom: 10px;">
              <ion-input type="password" placeholder="OTP here" name="password" [(ngModel)]="credentials.otp" required></ion-input>
            </ion-item>

            <ion-item style="background: transparent; margin-bottom: 10px;">
              <ion-input type="password" placeholder="Password here" name="password" [(ngModel)]="credentials.pwd" required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isValidUname">
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!forgotPwd.valid" (click)="submitPwd()">submit</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="frgt_pwd">
          <button ion-button clear class="theme_clr" (click)="back()">Back</button>
        </ion-col>
      </ion-row>

    </form>
  </div>

</ion-content>