page-forgot-password {
//     ion-header{
//         ion-navbar{
//             // margin-top:15%;
//         }
//     }
    // ion-content{
    //     div{
    //         // margin-top: 15%;
    //     }
    //     // background-image: url('../../assets/imgs/web_icons/dashboardIcons/dashboard_bg.png');
    //     // background-repeat: no-repeat;
    //     // background-size: 100%;
    // }

    .btn_submit{
        background-image: url('../../assets/imgs/web_icons/loginIcons/01.png');
        height: 50px;
        width: 180px;
        font-weight: normal;
        background-size: 100%;
    }
    .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;

    }
    ion-row {
        align-items: center;
        text-align: center;
      }

    ion-header{
        .headerstyle{
            background-image: url('../../assets/imgs/web_icons/dashboardIcons/Header.png');
            padding-top:5%;
            padding-bottom: 5%;
            color:"white";
            margin-top: 15%;
            box-shadow: 3px 3px 3px #007b6c;
        }
        .headerstyle{
            padding: 15px;
        }
    }
    ion-content{
        background-image: url('../../assets/imgs/web_icons/dashboardIcons/dashboard_bg.png');
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top:0px!important;
        // padding-top: 10%;
        
    }
    ion-header {
        padding-bottom: 0 !important;
    }

 }
