page-dashboard {
    ion-header{
        ion-navbar{
            margin-top:15%;
        }
    }
    ion-content{
        background-image: url('../../assets/imgs/web_icons/dashboardIcons/dashboard_bg.png');
        background-repeat: no-repeat;
        background-size: 100%;
        div{
            margin-top:7%;
            padding: 4%;
        }
        margin-top:0px!important;
        .dashboard_btns{
            margin-top:20%;
        }
    }
   
}


