<!-- <ion-header>

</ion-header> -->

<ion-content>
  <div class="" style="background: #fff;border-radius: 10px;">
    <span style="font-size: 15px;font-weight: 500;color: #666666;">Dashboard</span>
    <span name="cart" class="cart_icon" (click)="viewcart()">
      <img src="./assets/imgs/web_icons/dashboardIcons/Dash b _cart icon.png" style="width: 40%;float: right; margin-top: 10px;"/>
      <!-- <ion-badge color="badge_header">{{totalCartItems}}</ion-badge> -->
    </span>
  </div>
  <div class="dashboard_btns">
    <img src="./assets/imgs/web_icons/dashboardIcons/01.png" (click)="createRfq()" />
    <img src="./assets/imgs/web_icons/dashboardIcons/02.png" (click)="pendingRfq()" />
    <img src="./assets/imgs/web_icons/dashboardIcons/03.png" (click)="pendingPo()" />
  </div>

</ion-content>

<!-- <ion-footer>

</ion-footer> -->