<ion-header>
  <div class="headerstyle">
    <span style="font-size: 20px;font-weight: lighter;color: #fff;">PO-NUMBER : {{po_num}}</span>
  </div>
</ion-header>

<ion-content>
  <ion-list *ngIf="pendingPoListData.length>0">
    <ion-item class="border_bott" *ngFor="let item of pendingPoListData" style="border-bottom: 5px solid #ddd;">
      <div padding>
        <p class="pro_name">
          <span class="">{{item.productname}}</span>
        </p>
        <p>
          <span class="">{{item.brand}}</span>
        </p>
        <p>
          <span class="">{{item.mrp}}</span>
          <span class="">{{item.discount}}</span>
          <span class="">{{item.total}}</span>
        </p>
        <p>
          <span class="">Qty :</span>
          <span class="">{{item.qty}}</span>

          <span class="">Savings :</span>
          <span class="">{{item.savings}}</span>
        </p>
        <p>
          <span class="">Delivery Schedule : </span>
          <span class="">{{item.split_delvry_date}}</span>
        </p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>