<ion-header>
  <div class="headerstyle">
    <span style="font-size: 20px;font-weight: lighter;color: #fff;">View Cart</span>
  </div>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row *ngFor="let item of cartData; let i=index" style="box-shadow: 0 6px 8px #ddd;margin-bottom: 10px;">
        <ion-col col-5 padding>
          <img src='{{item.imageid}}' style="width: 100%;height: 100%;">
        </ion-col>
        <ion-col col-7 padding>
          <div style="border-left: 2px solid #00978c;padding-left: 10px;">
          <div>
              <h5 style="color: #00978c;font-size: 16px;">{{item.upload_name}}</h5>
              <p>
                <span class="ofr_price">{{item.mrp}}</span>
                <!-- <span class="actual_price">{{item.mrp}}</span> -->
                <span class="discount">{{item.discount}}% OFF</span>
              </p>
              <div>
                <ion-icon class="icon_clr_light" name="remove-circle" (click)="decrement(item,i)"></ion-icon>
                <span>
                  <input type="text" style="width: 12%;border: none;text-align: center;" [(ngModel)]="item.qty" />
                </span>
                <ion-icon class="icon_clr_light" name="add-circle" (click)="increment(item,i)"></ion-icon>
                <span class="flt_right">
                  <span class="padd_r_20">
                    <ion-icon class="icon_clr_light" ios="ios-trash" (click)="delete(item.upload_name,i)" md="md-trash"></ion-icon>
                  </span>
                  <span>
                    <ion-icon class="icon_clr_light" ios="ios-more" md="md-more"></ion-icon>
                  </span>
                </span>
              </div>
          </div>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <ion-list>
    <ion-item class="border_bott" *ngFor="let item of cartData; let i=index">
      <ion-thumbnail item-start>
        <img src='{{item.imageid}}'>
      </ion-thumbnail>
      <h2>{{item.upload_name}}</h2>
      <p>
        <span class="ofr_price">{{item.mrp}}</span>
        <span class="discount">{{item.discount}}% OFF</span>
      </p>
      <div>
        <ion-icon class="icon_clr_light" name="remove-circle" (click)="decrement(item,i)"></ion-icon>
        <span>
          <input type="text" style="width: 12%;border: none;text-align: center;" [(ngModel)]="item.qty" />
        </span>
        <ion-icon class="icon_clr_light" name="add-circle" (click)="increment(item,i)"></ion-icon>
        <span class="flt_right">
          <span class="padd_r_20">
            <ion-icon class="icon_clr_light" ios="ios-trash" (click)="delete(item.upload_name,i)" md="md-trash"></ion-icon>
          </span>
          <span>
            <ion-icon class="icon_clr_light" ios="ios-more" md="md-more"></ion-icon>
          </span>
        </span>
      </div>
    </ion-item>
  </ion-list> -->
  <div *ngIf="cartemprty">
    cart is empty
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title (click)="generaterfqq(cartData)" style="text-align: center; font-weight: lighter;">RFQ Generation</ion-title>
  </ion-toolbar>
</ion-footer>