.align_center{
    text-align: center;
}
.bg_header_clr{
    background: #27ae9d;
}
.bg_violet{
    background: #382767;
}
.bg_light_violet{
    background: #8e6479;
}
.bg_orng{
    background: #b9930e;
}
.bg_red{
    background: #fe5722;
}
.bg_pink{
    background: #c3617d;
}
.bg_green{
    background: #768e16;
}
.bg_blue{
    background: #00929e;
}
.bg_coffe{
    background: #4c955d;
}
.padd_15{
    padding: 15px;
}
.clr_white{
    color:#fff;
}
.padd_t_10{
    padding-top: 10px;
}
.toolbar-background-md{
    background: #27ae9d;
    border:1px solid #27ae9d;
}
.alert-md .alert-button{
    color:#27ae9d;
}
.toolbar-title-md {
    color: #fff;
}
// .button-md{
//     background: #27ae9d;
// }
.alert-md [aria-checked=true] .alert-checkbox-icon {
    border-color: #27ae9d;
    background-color: #27ae9d;
}
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: #fff;
}
.flt_right{
    float: right;
}
.flt_left{
    float: left;
}
.padd_r_20{
    padding-right: 20px;
}
.border_bott{
    border-bottom: 4px solid #ececec;
    padding: 0;
}
.border_bott:last-child{
    border-bottom: 0px solid #ececec;
    padding: 0;
}
.ofr_price{
    color: #333334;
    font-size: 16px;
    font-weight: 600;
    padding-right: 5px;
}
.actual_price{
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 500;
    padding-right: 5px;
    text-decoration: line-through;
}
.discount{
    color: #009a2e;
}
.item-md h2 {
    margin: 0px 0 5px 0;
    font-size: 14px;
    font-weight: 500;
    white-space: initial;
}
.item-md p {
    line-height: 1.5;
}
.picecorton{
    font-size: 14px;
    font-weight: 500;
}
.picecorton span{
    // background: #382767;
    border-radius: 2px;
    padding: 5px;
    color: #fff;
    margin-left: 5px;
    font-size: 12px;
}
.icon_clr_light{
    color: #00958a;
}
.cart_icon{
    float: right;
    // color: #fff;
    font-size: 25px;
    margin-top: -20px;
    padding-right: 20px;
}
.badge-md {
    border-radius: 20px;
    background-color: #be393d;
    float: right;
    margin-right: -53px;
    margin-top: 10px;
    // margin-left: 15px;
    // margin-top: -35px;
    // position: absolute;
}
[padding] h2:first-child{
    margin-top: 0;  
}
.frwrd_icon{
    float: right;
    font-size: 20px;
    font-weight: 600;
    color: #27ae9d;
}
.thead_data{
    color: #000000;
    font-size: 16px;
}
.tbody_data{
    color: #aeaeae;
    font-size: 14px;
    font-weight: 500;
}
.theme_clr{
    color: #97979f;
  }

  .menu{
      background-image: url('../assets/imgs/web_icons/loginIcons/01.png');
      background-size: 100%;
      background-repeat: no-repeat;
  }