<ion-menu [content]="content" *ngIf="isLoggedIN()">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content  style="background-color: #27ae9d">
    <ion-list >
      <button menuClose class="menu" ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <span style="vertical-align: -webkit-baseline-middle;"><img src={{p.icon}} style="color: white; width:10%;"/></span>
         <span  style="color:white;padding-left: 5px;">{{p.title}}</span>
      </button>
      <button menuClose class="menu" ion-item (click)="logout()">
        <span style="vertical-align: -webkit-baseline-middle;"><img src='../assets/imgs/web_icons/logout.png' style="color: white; width:10%;"/></span> 
        <span  style="color: white; padding-left: 5px;">Logout</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>


<!-- <ion-icon ios="ios-lock"></ion-icon>
<ion-icon ios="ios-unlock"></ion-icon>
<ion-icon ios="ios-home"></ion-icon> -->

