page-product-split-details {
    ion-header{
        background-image: url('../../assets/imgs/web_icons/loginIcons/01.png');
        ion-navbar{
            margin-top: 4%;
            margin-bottom: 4%;
        }
    }
    ion-content{
        margin-top: 2%;
    }
    ion-grid{
        padding: 0px!important;
    }
    .tbl_color{
        background-color: #f7fdfc;
    }
    .tbl_back_color{
        background-color: #27ae9d;
        color:white;
    }

    .btn_color{
        background-color: #27ae9d;
    }

    .check_confirm{
        color: #899887ad; 
        padding-right: 5px; 
        font-size: 25px;
    }

    .check_cancel{
        color: #899887ad; 
        font-size: 25px;
    }

    .check_circle_selected{
        color: #27ae9d !important;
    }

    .check_circle_unselected{
        color: red !important;
    }

    .tbl_body{
        background-color:#f6f9f6;
        border-bottom: 1px solid #27ae9d47;
    }

    .chk_options{
        text-align: center;
        padding:0px 5px!important;
    }

    .align_center{
        text-align: center;
    }
}
