<!--
  Generated template for the ProductSplitDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>productSplitDetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>

    <ion-row class="row tbl_back_color" responsive-sm wrap col-md-12>
        <ion-col col-2>S.No</ion-col>
        <ion-col col-3>Accepted<br/>Quantity</ion-col>
        <ion-col col-4>Delivery<br/>Date</ion-col>
        <ion-col col-3 class="align_center">Confirm</ion-col>
    </ion-row>
    <ion-row class="row" responsive-sm wrap *ngFor= "let item of splitDatesList" class="tbl_body" col-md-12>
        <ion-col col-2>{{item.SNO}}</ion-col>
        <ion-col col-3>{{item.accept_prod_qty}}</ion-col>
        <ion-col col-4>{{item.split_delvry_date}}</ion-col>
        <ion-col col-3 class="chk_options">
                <ion-icon name="checkmark-circle" class="check_confirm" [ngClass]="{'check_circle_selected':item.product_status=='Confirm'}" (click)="getStatus('Confirm',item)"></ion-icon>
                <ion-icon name="close-circle" class="check_cancel" [ngClass]="{'check_circle_unselected':item.product_status=='Cancel'}" (click)="getStatus('Cancel',item)"></ion-icon>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  
    <button ion-button full class="f_btn_color" (click)="dismiss()">Dismiss</button>
</ion-footer>