<ion-header>
    <div class="headerstyle">
        <span style="font-size: 20px;font-weight: lighter;color: #fff;">Pending RFQ</span>
      </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="" (click) = "pendingRfqDetails(item)" *ngFor="let item of rfqdetails" style="border-bottom: 7px solid #ddd;">
      <p>
        <span class="thead_data">RFQ No :</span>
        <span class="tbody_data">{{item.rfq_num}}</span>
        <span class=""><ion-icon name="ios-arrow-forward" class="frwrd_icon"></ion-icon></span>
      </p>
      <p>
        <span class="thead_data">RFQ Date :</span>
        <span class="tbody_data">{{item.rfq_generate_date}}</span>
      </p>
      <p>
        <span class="thead_data">Sales Manager :</span>
        <span class="tbody_data">{{item.sales_manager}}</span>
      </p>
      <p>
        <span class="thead_data">Mobile No :</span>
        <span class="tbody_data">{{item.sales_manager_mobile}}</span>
      </p>
    </ion-item>
  </ion-list>
</ion-content>