page-pending-rfq {
    // ion-header{
    //     background-image: url('../../assets/imgs/web_icons/loginIcons/01.png');
    //     ion-navbar{
    //         margin-top: 4%;
    //         margin-bottom: 4%;
    //     }
    // }
    // ion-content{
    //     margin-top: 0%;
    // }

    ion-header{
        padding-bottom: 18%;
        .headerstyle{
            background-image: url('../../assets/imgs/web_icons/dashboardIcons/Header.png');
            padding-top:5%;
            padding-bottom: 5%;
            color:"white";
            margin-top: 15%;
            box-shadow: 3px 3px 3px #007b6c;
        }
        .headerstyle{
            padding: 15px;
        }
    }
    ion-content{
        background-image: url('../../assets/imgs/web_icons/dashboardIcons/Bg_patterns Dash_b.png');
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top:0px!important;
        padding-top: 10%;
        
    }
    .list-md .item-block .item-inner {
         border-bottom: 0px solid #dedede !important;
    }
}
