page-pending-rfq-details{
    .pro_name span{
    color: #232f3e;
    font-weight: 500;
    font-size: 15px;
    }
    .f_btn_color{
        background-color: #007a70;
    }

    .color_voilet{
        color:#382767;
    }

    .color_blue{
        color: #3d42e4;
    }

    .color_red{
        color:#ff0000;
    }

    .color_green{
        color: #388e3c
    }

    .confirm_btn{
        color: #27ae9d; 
        border-color: #27ae9d;
    }

    .cancel_btn{
        color: #ff0000; 
        border-color: #ff0000;
    }

    .brand{
        font-weight: bolder; 
        color: #07544b; 
        text-transform: uppercase;
    }

    ion-header{
        padding-bottom: 18%;
        .headerstyle{
            background-image: url('../../assets/imgs/web_icons/dashboardIcons/Header.png');
            padding-top:5%;
            padding-bottom: 5%;
            color:"white";
            margin-top: 15%;
            box-shadow: 3px 3px 3px #007b6c;
        }
        .headerstyle{
            padding: 15px;
        }
    }
    ion-content{
        background-image: url('../../assets/imgs/web_icons/dashboardIcons/Bg_patterns Dash_b.png');
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top:0px!important;
        padding-top: 10%;
        
    }
}


