<ion-header>
  <div class="headerstyle">
    <span style="font-size: 20px;font-weight: lighter;color: #fff;">RFQ No : {{rfqnumber}}</span>
  </div>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="border_bott" *ngFor="let item of moreRfqDataList">
      <p class="pro_name">
        <span class="">{{item.productname}}</span>
      </p>
      <p>
        <span class="thead_data">Brand :</span>
        <span class="tbody_data brand">{{item.brand}}</span>
      </p>
      <p>
        <span class="thead_data">MRP :</span>
        <span class="tbody_data color_voilet">&#8377;{{item.mrp*item.qty}}&nbsp;&nbsp;</span>
      </p>
      <p>
        <span class="thead_data">Discount :</span>
        <span class="tbody_data color_green">{{item.discount}}% Off &nbsp;&nbsp;</span>
      </p>
      <p>
        <span class="thead_data">Volume Discount :</span>
        <span class="tbody_data color_green">{{item.volume_disc}}% Off &nbsp;&nbsp;</span>
      </p>
      <p>
        <span class="thead_data">Special Discount :</span>
        <span class="tbody_data color_green">{{item.spcl_disc}}% Off &nbsp;&nbsp;</span>
      </p>
      <p>
        <span class="thead_data">Total :</span>
        <span class="tbody_data color_green">&#8377;{{item.total}}</span>
      </p>
      <p>
        <span class="thead_data">Qty :</span>
        <span class="tbody_data color_voilet">{{item.qty}} &nbsp;&nbsp;</span>

        <span class="thead_data">Savings :</span>
        <span class="tbody_data color_green">{{item.savings}}%</span>
      </p>
      <p>
        <span class="thead_data">Delivery Schedule : </span>
        <span class="tbody_data color_red" *ngIf="item.product_status=='Pending for SM'"> Pending for Approval</span>
        <span class="tbody_data color_blue" *ngIf="item.product_status=='Accept'">{{item.split_delvry_date}}</span>
        <span class="tbody_data color_blue" *ngIf="item.product_status=='Split'" (click)="openmodal(item)">Schedule Dates !!</span>
        <span class="tbody_data color_red" *ngIf="item.product_status=='Reject'">CANCEL</span>

      </p>
      <p *ngIf="item.product_status=='Accept'">
        <button ion-button outline small class="confirm_btn" [disabled]="item.dealer_status=='Confirm'" (click)="getStatus('Confirm',item)">Confirm</button>
        <button ion-button outline small class="cancel_btn" [disabled]="item.dealer_status=='Cancel'" (click)="getStatus('Cancel',item)">Cancel</button>
      </p>

    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <!-- <ion-toolbar> -->
  <!-- <ion-title (click)="generaterfqq(cartData)">Request for PO</ion-title> -->
  <button ion-button full class="f_btn_color" [disabled]="disableButton()" (click)="requestforpo()">Request for PO</button>
  <!-- </ion-toolbar> -->
</ion-footer>