<ion-header>
    <div class="headerstyle">
        <span style="font-size: 20px;font-weight: lighter;color: #fff;">Create RFQ</span>
        <span name="cart" class="cart_icon" (click)="viewcart()" style="color:#fff">
          <img src="./assets/imgs/web_icons/dashboardIcons/createRfqDefalutIcon.png" style="width: 32%;float: right; margin-top: 13px;"/>
          <ion-badge color="badge_header">{{totalCartItems}}</ion-badge>
        </span>
      </div>
</ion-header>

<ion-content>
  <!-- <div class="headerstyle">
    <span style="font-size: 20px;font-weight: lighter;color: #fff;">Create RFQ</span>
    <span name="cart" class="cart_icon" (click)="viewcart()" style="color:#fff">
      <img src="./assets/imgs/web_icons/dashboardIcons/createRfqDefalutIcon.png" style="width: 32%;float: right; margin-top: 13px;"/>
    </span>
  </div> -->
  <ion-list class="crete_rfq_list">
    <ion-item class="list_align">
      <ion-label class="drpdwn_label">Categories</ion-label>
      <ion-select [(ngModel)]="categoryname" multiple="true" cancelText="Cancel" okText="OK" (ngModelChange)="getcategory(categoryname)">
        <ion-option *ngFor="let category of CategoryArray" value={{category.categoryname}}>{{category.categoryname}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="list_align">
      <ion-label class="drpdwn_label">Sub Categories</ion-label>
      <ion-select [(ngModel)]="subcategory" multiple="true" cancelText="Cancel" okText="OK" (ngModelChange)="getsubcategory(subcategory)">
        <ion-option *ngFor="let subcategories of SubCategoryArray" value={{subcategories.subcategory}}>{{subcategories.subcategory}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="list_align">
      <ion-label class="drpdwn_label">Brand</ion-label>
      <ion-select [(ngModel)]="brand" multiple="true" cancelText="Cancel" okText="OK" (ngModelChange)="getbrand(brand)">
        <ion-option *ngFor="let brands of brandsArray" value={{brands.brand}}>{{brands.brand}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <!-- <div class="align_center">
    <button ion-button (click)="getdistributorcatgetdata()">Get</button>
  </div> -->
</ion-content>
<ion-footer>
  <button ion-button full clear class="footer_btn" (click)="getdistributorcatgetdata()">GET</button>
</ion-footer>