page-create-rfq {
    ion-header{
        .headerstyle{
            background-image: url('../../assets/imgs/web_icons/dashboardIcons/Header.png');
            padding-top:5%;
            padding-bottom: 5%;
            color:"white";
            margin-top: 15%;
            box-shadow: 3px 3px 3px #007b6c;
        }
        .headerstyle{
            padding: 15px;
        }
    }

    ion-content{
        background-image: url('../../assets/imgs/web_icons/dashboardIcons/Bg_patterns Dash_b.png');
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top:0px!important;
        .headerstyle{
            background-image: url('../../assets/imgs/web_icons/dashboardIcons/Header.png');
            padding-top:5%;
            padding-bottom: 5%;
            color:"white";
            margin-top: 15%;
            box-shadow: 3px 3px 3px #007b6c;
        }
        .headerstyle{
            padding: 15px;
        }
        .crete_rfq_list{
            padding: 0 20px;
            margin-top: 30%;
        }
        .list_align{
            border:1px solid #008278;
            margin-bottom: 10%;
            border-radius: 5px;
            box-shadow: 3px 3px 3px #a2a1a1;
        }
        ion-label{
            color:#008278 !important;
        }
    }
    ion-footer{
        background-image: url('../../assets/imgs/web_icons/dashboardIcons/Header.png');
        .footer_btn{
            color: #fff;
        }
    }
}